<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tyut.mapper.BookMapper">
    <update id="editBook">
        UPDATE book
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">
                book_name = #{name},
            </if>
            <if test="isbn != null">
                book_isbn = #{isbn},
            </if>
            <if test="press != null">
                book_press = #{press},
            </if>
            <if test="author != null">
                book_author != #{author},
            </if>
            <if test="pagination != null">
                book_pagination = #{pagination},
            </if>
            <if test="price != null">
                book_price = #{price},
            </if>
            <if test="uploadTime != null">
                book_uploadtime = #{uploadTime},
            </if>
            <if test="statusB != null">
                book_status = #{statusB},
            </if>
            <if test="borrower != null">
                book_borrower = #{borrower},
            </if>
            <if test="borrowTime != null">
                book_borrowtime = #{borrowTime},
            </if>
            <if test="returnTime != null">
                book_returntime = #{returnTime}
            </if>
        </trim>
        WHERE book_id = #{id}
    </update>
</mapper>